* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* COLORS */
    --primary: #003FFF;
    --black: #1C2230;
    --white: #fff;

    /* SPACING */
    --window-border: 10vw;

    /* TIME */
    --time-loading-1: 1s;
    --time-loading-2: 1.2s;
    --time-loading-3: 1.5s;
}

.no-select {
    user-select: none;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
}

h1, h2, h3 {
    font-family: "Sora";
    font-weight: 700;
    color: var(--black);
}

button {
    font-size: 16px;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 24px;
}

.primary-button {
    color: var(--white);
    background: var(--primary);
    border: none;
    outline: none;
}

.secondary-button {
    position: relative;
    color: var(--primary);
    background: none;
    border: none;
    outline: 2px solid var(--primary);
    outline-offset: -2px;
    overflow: hidden;
    transition: color 250ms;
}

.secondary-button:hover {
    color: var(--white);
}

.secondary-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 0 50% 50%;
    background: var(--primary);
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 500ms, border-radius 500ms;
    z-index: -1;
}

.secondary-button:hover::before {
    transform: scaleY(1);
    border-radius: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--black);
}

button {
    font-family: "Inter";
    cursor: pointer;
}

p {
    font-family: "Inter";
    color: var(--black);
}

@media screen and (max-width: 930px) {
    :root {
        /* SPACING */
        --window-border: 5vw;

        /* TIME */
        --time-loading-1: 1.3s;
        --time-loading-2: 1.4s;
        --time-loading-3: 1.7s;
    }
    button {
        font-size: 12px;
        padding: 8px 12px;
    }
    p {
        font-size: 12px;
    }
}