header {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 64px;
}

header .presentation {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 var(--window-border);
}

header .presentation .image-presentation-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

header .presentation .image-presentation-container .image-presentation {
    position: relative;
    width: 70%;
    height: 90%;
    border-radius: 80px;
    overflow: hidden;
    background: url("../../images/header_me.JPG");
    background-size: cover;
    background-position: 70% 50%;
}

header .presentation .image-presentation-container img {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: auto;
    transform: translateX(-60%);
}

header .presentation .text-presentation-container {
    width: fit-content;
    display: flex;
    justify-content: left;
    align-items: center;
}

header .presentation .text-presentation-container .text-presentation .title h1 {
    font-size: 5vw;
}

header .presentation .text-presentation-container .text-presentation .title h1#hey {
    width: fit-content;
    transform-origin: bottom right;
    animation: hello 1s linear infinite;
}

header .presentation .text-presentation-container .text-presentation .title h1 a {
    color: var(--primary);
}

header .presentation .text-presentation-container .text-presentation .lead p {
    max-width: 52ch;
    line-height: 24px;
    margin: 24px 0;
    text-wrap: wrap;
}

header .presentation .text-presentation-container .text-presentation .lead .ctas {
    display: inline-block;
}

header .presentation .text-presentation-container .text-presentation .lead .ctas button.primary-button {
    margin-right: 16px;
}

@keyframes hello {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(10deg);
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {

    }
}