/* GLOBAL */

section {
    min-height: 100vh;
    padding: 0 var(--window-border);
}

section.project {
    padding-top: calc(64px + 2rem);
}

section.project a#go-back {
    display: flex;
    align-items: center;
    font-family: "Inter";
    color: var(--primary);
}

section.project a#go-back svg {
    margin-right: 8px;
}

section.project .project-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

section.project .project-container .title h1 {
    font-size: 4vw;
    margin: 2rem 0 1rem 0;
}

section.project .project-container .title .tags {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

section.project .project-container .title .tags li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 24px;
    margin-right: 1rem;
    background: var(--complementary);
    color: var(--complementary-text);
}

section.project .project-container .title .tags li:last-child {
    margin-right: 0rem;
}

section.project .project-container .title p.description a {
    color: var(--primary);
}

section.project .project-container .visualisation {
    padding: 3rem;
    display: flex;
}

section.project .project-container .visualisation iframe {
    height: 60vh;
    margin-right: 3rem;
    padding: 0.5rem;
    border: 2px solid var(--black);
    border-radius: 24px;
}

section.project .project-container .visualisation iframe.mobile {
    aspect-ratio: 9/16;
}

section.project .project-container .visualisation .images {
    width: 100%;
}

/* Projects */

section#projects {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

section#projects .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

section#projects .title h2 {
    text-wrap: nowrap;
    font-size: 2vw;
}

section#projects .title p {
    margin: 24px 0;
}

section#projects .title .ctas button svg {
    padding-right: 8px;
    z-index: -1;
}

section#projects .projects {
    display: flex;
    justify-content: center;
    align-items: center;
}

section#projects .projects ul {
    position: relative;
    width: 100%;
    height: fit-content;
    margin-left: 6rem;
}

section#projects .projects ul li:last-child {
    margin-bottom: 0;
}

section#projects .projects ul .images-container {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleY(0);
    transition: transform 100ms, opacity 250ms;
    z-index: -100;
}

section#projects .projects ul:hover .images-container {
    opacity: 1;
}

section#projects .projects ul .images-container .images {
    position: relative;
    width: 15vw;
    height: 15vw;
}

section#projects .projects ul .images-container .images img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 500ms;
}

section#projects .projects ul li a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Inter";
    font-size: 4vw;
    font-weight: 700;
    color: var(--primary);
    border-bottom: 3px solid var(--primary);
    transition: 800ms;
    padding: 2rem 0;
}

section#projects .projects ul li a svg {
    width: 5vh;
    height: 5vh;
    margin-left: 3rem;
    opacity: 0;
    transform: translateX(-30%);
    transition: opacity 500ms, transform 500ms;
}

section#projects .projects ul li a:hover svg {
    opacity: 1;
    transform: translate(0);
}

/* Skills */
section#skills {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section#skills .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 4rem;
}

section#skills .title h2 {
    text-wrap: nowrap;
    font-size: 2.5vw;
}

section#skills .skills {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

section#skills .skills .softwares {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 4rem;
}

section#skills .skills .softwares .head h3 {
    font-family: "Inter";
    font-size: 2vw;
    margin-bottom: 24px;
}

section#skills .skills .softwares .softwares-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#skills .skills .softwares .softwares-images .images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

section#skills .skills .softwares .softwares-images .images img {
    height: 8vh;
    transition: padding 500ms, transform 500ms;
    padding: 0 0.5rem;
    cursor: pointer;
}

section#skills .skills .softwares .softwares-images .images img:hover {
    padding: 0 2rem;
    transform: scale(1.2);
}

section#skills .skills .softwares .softwares-images p {
    max-width: 60%;
    min-height: 2.5rem;
}

section#skills .skills .certifications {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

section#skills .skills .certifications h3 {
    font-family: "Inter";
    font-size: 2vw;
    display: flex;
    align-items: center;
}

section#skills .skills .certifications ul {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

section#skills .skills .certifications ul li {
    padding: 16px 24px;
    border-radius: 48px;
    border: 1px solid var(--black);
    margin-right: 1rem;
}

section#skills .skills .certifications ul li:last-child {
    margin-right: 0;
}

/* About */
section#about {
    padding-top: 5rem;
}

section#about h2 {
    font-size: 2.5vw;
    margin-bottom: 4rem;
}

section#about .center-text {
    display: flex;
    justify-content: center;
}

section#about .center-text .text-container {
    width: fit-content;
}

section#about .center-text .text-container h3 {
    font-family: "Inter";
    font-size: 2vw;
    margin-bottom: 1rem;
}


section#about .center-text .text-container p {
    max-width: 70ch;
    margin-bottom: 3rem;
}

/* Contact */

section#contact {
    min-height: fit-content;
    padding-top: 5rem;
    padding-bottom: 5rem;

}

section#contact .contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}

section#contact .contact .title h2 {
    font-size: 2.5vw;
    margin-bottom: 1rem;
}

section#contact .contact .ctas {
    display: flex;
    align-items: center;
}

section#contact .contact .ctas a {
    margin-right: 1rem;
}

section#contact .contact .ctas a:last-child {
    margin-right: 0;
}

section#contact .contact .ctas a button svg {
    padding-right: 8px;
}

section#contact p#consultation-time {
    color: var(--grey);
}

/* En Travaux */
section#zone-travaux {
    display: flex;
    justify-content: center;
    align-items: center;
}

section#zone-travaux h2 {
    font-size: 5vw;
}